<img src="banner-tables.jpg" class="img-responsive" alt="banner">
 <div class="position" style="position: fixed; top: 25%">
  <div class="container">
    <div class="col-md-3">
    </div>
    <div class="col-md-7">
      <div class="jumbotron" style="text-align: center">
      <h1 style="color: black">welcome to dinder <img src="fork-knife.png" alt="logo"></h1>
      <a href="/auth/login"><button type="button" class="btn btn-primary">Log in with Facebook</button></a><br>
      or, <a href='/authorization'>sign in anonymously</a>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
