<h1> Here's what you liked! </h1>

<ul>
<li>Placeholder for stuff liked</li>
<li>Placeholder for stuff liked</li>
<li>Placeholder for stuff liked</li>
</ul>



<<<<<<< HEAD
=======
<a href="/user"><img src="home-icon.png" style="position: fixed; width: 50px; bottom: 10px; right: 10px"></a>
>>>>>>> 32fd894efd1029d19f47465cd04a226a9760b33b
