<h1> Here's what you liked! </h1>

<ul>
<li>Placeholder for stuff liked</li>
<li>Placeholder for stuff liked</li>
<li>Placeholder for stuff liked</li>
</ul>



<a href="/user"><img src="home-icon.png" style="position: fixed; width: 50px; bottom: 10px; right: 10px"></a>
