<img src="restaurant-outside.jpg" {{!-- class="img-responsive" --}} alt="banner">
 <div class="position" style="position: fixed; top: 25%">
  <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <div class="jumbotron" style="text-align: center">
      <h1>dinder would like to access your location</h1><br>
      <button type="button" class="btn btn-primary">yes, use Google Maps to locate me</button><br><br>
        <div class="inner">
          <p style="display: inline">no thanks, i'll input my own location:</p>
          <input type="text" class="form-control" style="width: 150px; display: inline" placeholder="enter zip code here">
        </div>
      </div>
    </div>
  </div>
</div>
