<img src="banner-tables.jpg" class="img-responsive" alt="banner">

<div class="container">
  <div class="row">
  <div id="search" class="col-md-6 col-md-offset-3" style="text-align: center">
    <h1>dinder search</h1>
    <p>enter a custom location or click "search now" to let google find you</p>
    <p>then swipe right or left to like/dislike</p>
    <input type="text" name="search" placeholder="enter location here" id="locationInput">
    <button id="search_now_Bttn" class="btn btn-primary">search now</button>
    <button id='random_now_Bttn' class="btn btn-primary">random search</button>

    <div id="test"></div>
    <button id="advanced-button" class="btn btn-primary">additional filters</button>
  </div>


<div id="hide" class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3" style="text-align: center; background: #bdbdbd;">
  <h4>additional filters</h4>
  <div class="form-group row">
    <label class="control-label" for="price">price range</label>
      <select id="price" name="price" class="form-control">
        <option value="1,2,3,4">--</option>
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
      </select>
  </div>

  <div class="form-group row">
    <label class="control-label" for="keywords">keywords</label>
    <input id="term" name="details" type="text" placeholder="keywords" class="form-control input-md">
  </div>

  <div class="form-group row" style="text-align: center">
    <label><input type="checkbox" name="terms">deal</label>
    <label><input type="checkbox" name="terms">open now</label>
  </div>

  <div class="form-group row" style="text-align: center">
  <label class="control-label" for="submit"></label>
    <button id="adv_search_btn" name="submit" class="btn btn-primary">search now</button>
  </div>

</div>

<script>
var hide = function(evt) {
  $('#hide').toggleClass('hide');
};

$('#advanced-button').on('click', hide);

hide();
</script>
<a href="/auth/logout"><img src="logout.png" style="position: absolute; width: 50px; bottom: 1%; right: 1%"></a>
<a href="/user"><img src="home-icon.png" style="position: absolute; width: 50px; bottom: 2%; left: 1%"></a>
