<img src="restaurant-outside.jpg" class="img-responsive" alt="banner">
  <form class="form-horizontal">
  <fieldset>

  <legend>Advanced Search</legend>


  <div class="form-group">
    <label class="col-md-4 control-label" for="radius">Search radius</label>
    <div class="col-md-4">
      <select id="radius" name="radius" class="form-control">
        <option value="800">0.5 mile</option>
        <option value="1600">1 mile</option>
        <option value="3000">2 miles</option>
        <option value="8000">5 miles</option>
        <option value="16000">10 miles</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="price">Price range</label>
    <div class="col-md-2">
      <select id="price" name="price" class="form-control">
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="details">Details</label>
    <div class="col-md-4">
    <input id="locationInput" name="details" type="text" placeholder="Restaurant + Category" class="form-control input-md">
    </div>
  </div>

    <div class="form-group" style="text-align: center">
    <label><input type="checkbox" name="terms">Deal</label>
    <label><input type="checkbox" name="terms">Open Now</label>
    </div>

    <label class="col-md-4 control-label" for="submit"></label>

  </fieldset>
  </form>
    <div class="col-md-4">
      <button id="searchBttn" name="submit" class="btn btn-primary">Search</button>
    </div>
