<img src="banner-tables.jpg" class="img-responsive" alt="banner">
<div class="container">
  <div class="col-lg-6 col-md-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div class="jumbotron" style="text-align: center;">
      <h1>welcome to dinder, {{user.name}}!</h1>
      <a href="/search"><button id="redirect-search" class="btn btn-primary">begin a new search</button></a>
      <a href="/likes"><button id="redirect-liked" class="btn btn-primary">view my all-time likes</button></a>
    </div>
  </div>
</div>
<a href="/auth/logout"><img src="logout.png" style="position: fixed; width: 50px; bottom: 1%; right: 1%"></a>


