<h1>USER HOME PAGE</h1>

Name {{user.name}}
<input type="text" name="search" placeholder="search here" id='locationInput'>
<button id='searchBttn'>SEARCH NOW!</button>
<button>Random Search</button>
<a href="/auth/logout" title="">LOGOUT</a>
