<div class="container">
  <div class="col-md-7 col-md-offset-2" style="text-align: center">
    <h1>dinder search</h1>

    name: {{user.name}}<br>
    <input type="text" name="search" placeholder="location here" id="locationInput">
    <button id="searchBttn">search now</button>
    <button>random search</button>
    <a href="/auth/logout" title="">logout</a>
    <div id="test"></div>
  </div>
</div>
