<h1>Welcome to dinder, {{user.name}}</h1>
<a href="/auth/logout" title="">LOGOUT</a>

{{!-- Name {{user.name}} --}}




<img src="restaurant-outside.jpg" class="img-responsive" alt="banner">
 <div class="position" style="position: fixed; top: 25%">
  <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <div class="jumbotron" style="text-align: center">

  <form class="form-horizontal">
  <fieldset>

  <legend>Advanced Search</legend>


  <div class="form-group">
    <label class="col-md-4 control-label" for="radius">Search radius</label>
    <div class="col-md-4">
      <select id="radius" name="radius" class="form-control">
        <option value="800">0.5 mile</option>
        <option value="1600">1 mile</option>
        <option value="3000">2 miles</option>
        <option value="8000">5 miles</option>
        <option value="16000">10 miles</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="price">Price range</label>
    <div class="col-md-2">
      <select id="price" name="price" class="form-control">
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="details">Details</label>
    <div class="col-md-4">
    <input id="locationInput" name="details" type="text" placeholder="Restaurant + Category" class="form-control input-md">
    </div>
  </div>

    <div class="form-group" style="text-align: center">
    <label><input type="checkbox" name="terms">Deal</label>
    <label><input type="checkbox" name="terms">Open Now</label>
    </div>

    <label class="col-md-4 control-label" for="submit"></label>

  </fieldset>
  </form>




      <h1>dinder would like to access your location</h1><br>
      <button id="#advSearchBtn" type="button" class="btn btn-primary">yes, use Google Maps to locate me</button><br><br>
        <div class="inner">
          <p style="display: inline">no thanks, I'll input my own location:</p>
          <input type="text" class="form-control" style="width: 150px; display: inline" placeholder="enter zip code here">
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- MIBLEE testing adv'd Yelp search queries --}}
{{!-- <h2>Advanced Search [testing]</h2>

<input type="text" name="search" placeholder="location here" id="locationInput">
<button id="searchBttn">SEARCH NOW!</button>
<button>Random Search</button>
<ul class="budget">Budget
need to allow as multiple check boxes in case user wants to range
  <li id="1">$</li>
  <li id="2">$$</li>
  <li id="3">$$$</li>
  <li id="4">$$$$</li>
</ul>

<ul class="distance">Distance
best as drop down or radio (single selection) buttons
  <li id="driving">Driving (5 mi.)</li>
  <li id="biking">Biking (2 mi.)</li>
  <li id="walking">Walking (1 mi.)</li>
  <li id="immediate">RAH NOW (0.5 mi)</li>
</ul>

<input type="text" placeholder="search terms" id="terms">

<button id="advSearchBtn">Advanced Search</button>
<<<<<<< HEAD
--}}
=======

<hr>
<a href="/search" title="">redir to /search</a>
<br>
<a href="/liked" title="">get request to /liked</a>
>>>>>>> master
