Name {{user.name}}
<input type="text" name="search" placeholder="search here" id='restaurantInput'>
<button id='searchBttn'>SEARCH NOW!</button>
<input type="text" name="search" placeholder="location here" id="locationInput">
<button id="searchBttn">SEARCH NOW!</button>
<button>Random Search</button>
<a href="/auth/logout" title="">LOGOUT</a>


<hr>
<a href="/search" title="">redir to /search</a>
<br>
<a href="/liked" title="">get request to /liked</a>

